.skills-dev-section > h3, .skills-ani-section > h3{
  display:flex;
  color:$site-black;
  border-bottom: 2px solid $site-black;
  overflow: hidden;
  font-size: 1.2vw;
  margin-bottom: 1em;
}

.skills-dev-section > h3 > div, .skills-ani-section > h3 > div{
  flex: 0 0 1%;
}

.skills-dev-section > p, .skills-ani-section > p {
  margin-bottom: 1em;
}

@media (max-width: 1200px){
  .skills-dev-section > h3, .skills-ani-section > h3{
    font-size: 3.5vw;
  }
}


// animation //////////////////////////////
.dev-section-reveal {
  animation: dev-section-reveal 300ms ease-out forwards;
}
@keyframes dev-section-reveal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.dev-headline-seq1 {
  animation: dev-headline-seq1 80ms ease-out forwards;
}
@keyframes dev-headline-seq1 {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.dev-headline-seq2 {
  animation: dev-headline-seq2 80ms ease-out forwards;
  animation-delay: 200ms;
}
@keyframes dev-headline-seq2 {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}