@import 'about-skills.scss';
@import 'about-profile.scss';

.about-page {
  width: 60%;
}

.about-content {
  display: flex;
  width: 100%;
  background-color: $site-brown-drk;
  border: 1em solid $site-brown-drk;
  border-radius: 1em;
  overflow: hidden;
}

.about-content > div:first-child {
  flex: 0 0 60%;
  padding: 1em;
}

.about-content > div:last-child {
  flex: 0 0 40%;
  padding: 1em;
}

.about-content > div section {
  background-color: $site-brown;
  border: 1em solid $site-brown;
  border-radius: 1em;
}

.skills-section {
  padding: 1em;
}

.skills-section > div:first-child {
  display: flex;
  width: 100%;
  text-align: center;
}

.skills-section > div:first-child > h2 {
  flex: 0 0 50%;
  padding: 0.2em;
  background-color: $site-black;
  border: 0.5em solid $site-black;
  font-size: 1.5vw;
  color: white;
  cursor: pointer;
}

.dev-tab {
  border-radius: 0.8em 0 0 0.8em;
  transform-origin: right;
}

.ani-tab {
  border-radius: 0 0.8em 0.8em 0;
  transform-origin: left;
}

.skills-section > div:first-child > .active-tab {
  background-color: white;
  border-color: white;
  color: $site-black;
}

.skills-section > div:last-child {
  margin-top: 1em;
}

.bio-section {
  margin-top: 2em;
  padding: 1em;
  max-height: 10.2vw;
  overflow: scroll;
  overflow-x: hidden;
}

.bio-section p {
  padding-bottom: 1em;
  font-size: 0.8vw;
}

@media (max-width: 1200px) {
  .about-page {
    width: 80%;
  }
  .about-content {
    flex-wrap: wrap;
  }
  .about-content > div:first-child {
    flex: 0 0 100%;
    order: 2;
  }
  .about-content > div:last-child {
    flex: 0 0 100%;
    order: 1;
    display: flex;
    justify-content: space-between;
  } 
  .skills-section > div:first-child {
    display: flex;
    width: 60%;
    text-align: center;
    margin: auto;
  }
  .profile-section {
    flex: 0 0 45%;
  }
  .bio-section {
    margin-top: 0;
    max-height: 30.2vw;
    flex: 0 0 50%;
  }
  .bio-section p {
    padding-bottom: 1em;
    font-size: 1.5vw;
  }
}

// animation //////////////////////////////
.fadein-left {
  animation: fadein-left 400ms ease-out forwards;
}
@keyframes fadein-left {
  0% {
    opacity: 0;
    transform: translateX(-200px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

.fadein-bottom {
  animation: fadein-bottom 400ms ease-out forwards;
}
@keyframes fadein-bottom {
  0% {
    opacity: 0;
    transform: translateY(200px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.fadein-top {
  animation: fadein-top 400ms ease-out forwards;
}
@keyframes fadein-top {
  0% {
    opacity: 0;
    transform: translateY(-200px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.bump {
  animation: bump 500ms ease-out forwards;
}
@keyframes bump {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1);
  }
  40% {
    transform: scale(1.05);
  }
  60% {
    transform: scale(0.97);
  }
  80% {
    transform: scale(1.01);
  }
  100% {
    transform: scale(1);
  }
}