.about-page {
  display: flex;
  width: 60%;
  margin: 4em auto;
  background-color: $site-brown-drk;
  border: 1em solid $site-brown-drk;
  border-radius: 1em;
}

.about-page > div:first-child {
  flex: 0 0 60%;
  padding: 1em;
}

.about-page > div:last-child {
  flex: 0 0 40%;
  padding: 1em;
}

.about-page > div section {
  background-color: $site-brown;
  border: 1em solid $site-brown;
  border-radius: 1em;
}

.skills-section {
  padding: 1em;
}

.skills-section > div:first-child {
  display: flex;
  width: 100%;
  text-align: center;
}

.skills-section > div:first-child > h2 {
  flex: 0 0 50%;
  padding: 0.2em;
  background-color: $site-black;
  border: 0.5em solid $site-black;
  font-size: 1.5vw;
  color: white;
  cursor: pointer;
}

.dev-tab {
  border-radius: 0.8em 0 0 0.8em;
}

.ani-tab {
  border-radius: 0 0.8em 0.8em 0;
}

.skills-section > div:first-child > .active-tab {
  background-color: white;
  border-color: white;
  color: $site-black;
}

.skills-section > div:last-child {
  margin-top: 1em;
}

.profile-bg img {
  width: 100%;
  vertical-align: bottom;
}

.profile-bg {
  
}

.profile-section > ul {
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 1em;
} 

.profile-section > ul li {
  flex: 0 0 50%;
  font-family: $title-font;
}

.profile-section > ul li:first-child {
  color: $site-black;
  font-size: 1.2vw;
}

.profile-section > ul li:first-child span {
  font-size: 1vw;
}

.profile-section > ul li:nth-child(2) {
  margin-bottom: 0.5vw;
}

.profile-section > ul li:nth-child(3) {
  color: $site-black;
  font-size: 1.8vw;
}

.profile-default-bg {
  background-color: $profile-warm;
}

.bio-section {
  margin-top: 2em;
  padding: 1em;
  max-height: 10.2vw;
  overflow: scroll;
  overflow-x: hidden;
}

.bio-section p {
  padding-bottom: 1em;
}