@import 'about-skills.scss';
@import 'about-profile.scss';

.about-page {
  display: flex;
  width: 60%;
  margin: 4em auto;
  background-color: $site-brown-drk;
  border: 1em solid $site-brown-drk;
  border-radius: 1em;
}

.about-page > div:first-child {
  flex: 0 0 60%;
  padding: 1em;
}

.about-page > div:last-child {
  flex: 0 0 40%;
  padding: 1em;
}

.about-page > div section {
  background-color: $site-brown;
  border: 1em solid $site-brown;
  border-radius: 1em;
}

.skills-section {
  padding: 1em;
  height: 100%;
}

.skills-section > div:first-child {
  display: flex;
  width: 100%;
  text-align: center;
}

.skills-section > div:first-child > h2 {
  flex: 0 0 50%;
  padding: 0.2em;
  background-color: $site-black;
  border: 0.5em solid $site-black;
  font-size: 1.5vw;
  color: white;
  cursor: pointer;
}

.dev-tab {
  border-radius: 0.8em 0 0 0.8em;
}

.ani-tab {
  border-radius: 0 0.8em 0.8em 0;
}

.skills-section > div:first-child > .active-tab {
  background-color: white;
  border-color: white;
  color: $site-black;
}

.skills-section > div:last-child {
  margin-top: 1em;
}

.bio-section {
  margin-top: 2em;
  padding: 1em;
  max-height: 10.2vw;
  overflow: scroll;
  overflow-x: hidden;
}

.bio-section p {
  padding-bottom: 1em;
  font-size: 0.8vw;
}

// animation //////////////////////////////
.fadein-top {
  animation: fadein-top 500ms ease-out forwards;
}
@keyframes fadein-top {
  0% {
    opacity: 0;
    transform: translateY(-200px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.section-enter {
  animation: section-enter 500ms forwards;
}

@keyframes section-enter {
  0% {
    opacity: 0;
    transform: scale(0.8, 0.8);
  }
  50% {
    opacity: 1;
    transform: scale(1.04, 1.04);
  }
  75% {
    opacity: 1;
    transform: scale(0.97, 0.97);
  }
  100% {
    opacity: 1;
    transform: scale(1.01, 1.01);
  }
}