.banners-page {
  width: 70%;
  margin: 4em auto;
}

.banners-content {
  display: flex;
  width: 100%;
  background-color: $site-brown-drk;
  border: 1em solid $site-brown-drk;
  border-radius: 1em;
}

.banners-content > section:first-child {
  flex: 0 0 20%;
}

.banners-content > section:last-child {
  flex: 0 0 80%;
}