.contact-page {
  width: 50%;
}

.contact-content {
  display: flex;
  width: 100%;
  background-color: $site-brown;
  border: 1em solid $site-brown;
  border-radius: 1em;
  align-items: center;
}

.contact-content > section:first-child {
  flex: 0 0 60%;
  text-align: center;
}

.contact-content > section:last-child {
  flex: 0 0 40%;
}

.contact-content h2 {
  color: $site-black;
}

.preload {
  display: none;
}

.willsaur-idle, .willsaur-wave {
  width: 14vw;
  height: 16vw;
}

.willsaur-idle {
  background-image: url('../../public/assets/willsaur/willsaur-idle.png');
  background-size: 2400%;
  animation-name: willsaur-idle;
  animation-duration: 1000ms;
  animation-timing-function: steps(23);
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}

@keyframes willsaur-idle {
  from {
    background-position-x: 0%;
  }
  to {
    background-position-x: -2300%;
  }
}

.willsaur-wave {
  background-image: url('../../public/assets/willsaur/willsaur-wave.png');
  background-size: 2000%;
  animation-name: willsaur-wave;
  animation-duration: 1000ms;
  animation-timing-function: steps(20);
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}

@keyframes willsaur-wave {
  from {
    background-position-x: 0%;
  }
  to {
    background-position-x: -2000%;
  }
}

@media (max-width: 1200px) {
  .contact-page {
    width: 60%;
  }
  .contact-content h2 {
    font-size: 2vw;
  }
  .contact-content p {
    font-size: 1.5vw;
  }
}

@media (max-width: 768px) {
  .contact-page {
    width: 70%;
  }
  .contact-content {
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2em;
  }
  
  .contact-content > section:first-child {
    flex: 0 0 80%;
  }
  
  .contact-content > section:last-child {
    margin-top: 2vw;
    flex: 0 0 80%;
  }

  .contact-content > section:last-child > div{
    margin: auto;
  }
  .contact-content h2 {
    font-size: 4vw;
  }
  .contact-content p {
    font-size: 3vw;
  }
  .willsaur-idle, .willsaur-wave {
    width: 18vw;
    height: 21vw;
  }
}