$site-yellow-lgt:   #e8b58b;
$site-yellow:       #da8945;
$site-brown:        #774d29;
$site-brown-drk:    #382313;
$site-black:        #111111;
$bg-day:            #c8fef8;
$bg-night:          #0c253d;
$bg-snow:           #a3bdba;
$bg-rain:           #7a93d3;
$title-font: 'Righteous', cursive;
$base-font: 'Roboto', sans-serif;


*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: $base-font;
}

body {
  background-color: $site-black;
  color: white;
  font-size: 1vw;
}

ul {
  padding-left: 0px;
  list-style-type: none;
}

.title-font {
  font-family: $title-font;
}

.hide {
  opacity: 0;
}

.blk {
  color: $site-black;
}

.bold {
  font-weight: bold;
}

main {
  overflow: hidden;
}

button {
  width: 80%;
  background-color: $site-brown-drk;
  border: 0.2em solid $site-brown-drk;
  border-radius: 0.3vw;
  padding: 0.2vw;
  color: white;
  font-family: $title-font;
  cursor: pointer;
  transition: all 300ms ease;
}

button:hover {
  background-color: #442c19;
  border: 0.2em solid #442c19;
}

// global animation/////////////////////////L

.section-enter {
  animation: section-enter 500ms forwards;
}

@keyframes section-enter {
  0% {
    opacity: 0;
    transform: scale(0.8, 0.8);
  }
  50% {
    opacity: 1;
    transform: scale(1.04, 1.04);
  }
  75% {
    opacity: 1;
    transform: scale(0.97, 0.97);
  }
  100% {
    opacity: 1;
    transform: scale(1.01, 1.01);
  }
}