$site-yellow-lgt:   #e8b58b;
$site-yellow:       #da8945;
$site-brown:        #6d4523;
$site-brown-drk:    #2c1b0e;
$site-black:        #111111;
$title-font: 'Righteous', cursive;
$base-font: 'Roboto', sans-serif;

*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: $base-font;
}

body {
  background-color: $site-black;
  color: white;
}

ul {
  padding-left: 0px;
  list-style-type: none;
}

.title-font {
  font-family: $title-font;
}

.hide {
  opacity: 0;
}