header {
  display: flex;
  background-color: $site-yellow;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}

header div:first-child {
  flex: 0 0 40%;
  padding-left: 1em;
  font-size: 3vw;
}

header ul {
  flex: 0 0 60%;
  display: flex;
  justify-content: flex-end;
}

header ul li {
  margin: 0.5em 1vw 0.5em 0;
  border: 0.5em solid $site-yellow-lgt;
  border-radius: 0.5em;
  background-color: $site-yellow-lgt;
}

.btn-init {
  opacity: 0;
}

.btnAbout, .btnProjects, .btnBanners, .btnDemo, .btnContact {
  margin: auto;
  width: 3vw;
  height: 3vw;
  cursor: pointer;
}

.btnAbout {
  background-image: url('../../public/assets/btn-sprites/btn-about.png');
  background-size: 2100%;
}

.btnProjects {
  background-image: url('../../public/assets/btn-sprites/btn-project.png');
  background-size: 1000%;
}

.btnBanners {
  background-image: url('../../public/assets/btn-sprites/btn-banner.png');
  background-size: 3000%;
}

.btnDemo {
  background-image: url('../../public/assets/btn-sprites/btn-demo.png');
  background-size: 1900%;
}

.btnContact {
  background-image: url('../../public/assets/btn-sprites/btn-contact.png');
  background-size: 2000%;
}

// init animations /////////////////////////////////////
.btn-show {
  animation: btn-show 400ms ease-in forwards;
  animation-delay: 500ms;
}
@keyframes btn-show {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  70% {
    opacity: 1;
    transform: translateY(0px);
  }
  80% {
    opacity: 1;
    transform: translateY(-6px);
  }
  90% {
    opacity: 1;
    transform: translateY(6px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

// sprite animations////////////////////////////////////
.btnAbout-hover {
  animation-name: btnAbout-on;
  animation-duration: 500ms;
  animation-timing-function: steps(12, end);
  animation-fill-mode: forwards;
}
@keyframes btnAbout-on {
  from {
    background-position-x: 0%;
  }
  to {
    background-position-x: -1200%;
  }
}

.btnAbout-out {
  animation-name: btnAbout-after;
  animation-duration: 500ms;
  animation-timing-function: steps(9, end);
  animation-fill-mode: forwards;
}
@keyframes btnAbout-after {
  from {
    background-position-x: -1200%;
  }
  to {
    background-position-x: -2100%;
  }
}

.btnProjects-hover {
  animation-name: btnProjects-on;
  animation-duration: 400ms;
  animation-timing-function: steps(9, end);
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}
@keyframes btnProjects-on {
  from {
    background-position-x: 0%;
  }
  to {
    background-position-x: -900%;
  }
}

.btnProjects-out {
  animation-name: btnProjects-after;
  animation-duration: 500ms;
  animation-timing-function: steps(9, end);
  animation-fill-mode: forwards;
  animation-iteration-count: 2;
}
@keyframes btnProjects-after {
  from {
    background-position-x: -900%;
  }
  to {
    background-position-x: 0%;
  }
}

.btnBanners-hover {
  animation-name: btnBanners-on;
  animation-duration: 600ms;
  animation-timing-function: steps(15, end);
  animation-fill-mode: forwards;
}
@keyframes btnBanners-on {
  from {
    background-position-x: 0%;
  }
  to {
    background-position-x: -1500%;
  }
}

.btnBanners-out {
  animation-name: btnBanners-after;
  animation-duration: 600ms;
  animation-timing-function: steps(15, end);
  animation-fill-mode: forwards;
}
@keyframes btnBanners-after {
  from {
    background-position-x: -1500%;
  }
  to {
    background-position-x: -3000%;
  }
}

.btnDemo-hover {
  animation-name: btnDemo-on;
  animation-duration: 500ms;
  animation-timing-function: steps(11, end);
  animation-fill-mode: forwards;
}
@keyframes btnDemo-on {
  from {
    background-position-x: 0%;
  }
  to {
    background-position-x: -1100%;
  }
}

.btnDemo-out {
  animation-name: btnDemo-after;
  animation-duration: 500ms;
  animation-timing-function: steps(8, end);
  animation-fill-mode: forwards;
}
@keyframes btnDemo-after {
  from {
    background-position-x: -1100%;
  }
  to {
    background-position-x: -1900%;
  }
}

.btnContact-hover {
  animation-name: btnContact-on;
  animation-duration: 500ms;
  animation-timing-function: steps(10, end);
  animation-fill-mode: forwards;
}
@keyframes btnContact-on {
  from {
    background-position-x: 0%;
  }
  to {
    background-position-x: -1000%;
  }
}

.btnContact-out {
  animation-name: btnContact-after;
  animation-duration: 500ms;
  animation-timing-function: steps(10, end);
  animation-fill-mode: forwards;
}
@keyframes btnContact-after {
  from {
    background-position-x: -1000%;
  }
  to {
    background-position-x: -2000%;
  }
}