header {
  display: flex;
  background-color: $site-yellow;
  align-items: center;
  justify-content: space-between;
}

header div:first-child {
  flex: 0 0 10%;
}

header ul {
  flex: 0 0 90%;
  display: flex;
  justify-content: flex-end;
  padding-right: 1em;
}

header ul li {
  flex: 0 0 5%;
  margin: 0.5em;
  border: 0.5em solid $site-yellow-lgt;
  border-radius: 0.5em;
  background-color: $site-yellow-lgt;
}

.btnAbout, .btnProjects, .btnBanners, .btnDemo, .btnContact {
  margin: auto;
  width: 3vw;
  height: 3vw;
  cursor: pointer;
}

.btnAbout {
  background-image: url('../../public/assets/btn-sprites/btn-about.png');
  background-size: 2100%;
}

.btnProjects {
  background-image: url('../../public/assets/btn-sprites/btn-project.png');
  background-size: 1000%;
}

.btnBanners {
  background-image: url('../../public/assets/btn-sprites/btn-banner.png');
  background-size: 3000%;
}

.btnDemo {
  background-image: url('../../public/assets/btn-sprites/btn-demo.png');
  background-size: 1900%;
}

.btnContact {
  background-image: url('../../public/assets/btn-sprites/btn-contact.png');
  background-size: 2000%;
}

// sprite animations////////////////////////////////////

.btnAbout-hover {
  -webkit-animation-name: btnAbout-on;
  -webkit-animation-duration: 500ms;
  -webkit-animation-timing-function: steps(12, end);
  -webkit-animation-fill-mode: forwards;
  animation-name: btnAbout-on;
  animation-duration: 500ms;
  animation-timing-function: steps(12, end);
  animation-fill-mode: forwards;
}

@-webkit-keyframes btnAbout-on {
  from {
    background-position-x: 0%;
  }
  to {
    background-position-x: -1200%;
  }
}
@keyframes btnAbout-on {
  from {
    background-position-x: 0%;
  }
  to {
    background-position-x: -1200%;
  }
}

.btnAbout-out {
  -webkit-animation-name: btnAbout-after;
  -webkit-animation-duration: 500ms;
  -webkit-animation-timing-function: steps(9, end);
  -webkit-animation-fill-mode: forwards;
  animation-name: btnAbout-after;
  animation-duration: 500ms;
  animation-timing-function: steps(9, end);
  animation-fill-mode: forwards;
}

@-webkit-keyframes btnAbout-after {
  from {
    background-position-x: -1200%;
  }
  to {
    background-position-x: -2100%;
  }
}
@keyframes btnAbout-after {
  from {
    background-position-x: -1200%;
  }
  to {
    background-position-x: -2100%;
  }
}

.btnProjects-hover {
  -webkit-animation-name: btnProjects-on;
  -webkit-animation-duration: 400ms;
  -webkit-animation-timing-function: steps(9, end);
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
  animation-name: btnProjects-on;
  animation-duration: 400ms;
  animation-timing-function: steps(9, end);
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}

@-webkit-keyframes btnProjects-on {
  from {
    background-position-x: 0%;
  }
  to {
    background-position-x: -900%;
  }
}
@keyframes btnProjects-on {
  from {
    background-position-x: 0%;
  }
  to {
    background-position-x: -900%;
  }
}

.btnProjects-out {
  -webkit-animation-name: btnProjects-after;
  -webkit-animation-duration: 500ms;
  -webkit-animation-timing-function: steps(9, end);
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-iteration-count: 2;
  animation-name: btnProjects-after;
  animation-duration: 500ms;
  animation-timing-function: steps(9, end);
  animation-fill-mode: forwards;
  animation-iteration-count: 2;
}

@-webkit-keyframes btnProjects-after {
  from {
    background-position-x: -900%;
  }
  to {
    background-position-x: 0%;
  }
}
@keyframes btnProjects-after {
  from {
    background-position-x: -900%;
  }
  to {
    background-position-x: 0%;
  }
}

.btnBanners-hover {
  -webkit-animation-name: btnBanners-on;
  -webkit-animation-duration: 600ms;
  -webkit-animation-timing-function: steps(15, end);
  -webkit-animation-fill-mode: forwards;
  animation-name: btnBanners-on;
  animation-duration: 600ms;
  animation-timing-function: steps(15, end);
  animation-fill-mode: forwards;
}

@-webkit-keyframes btnBanners-on {
  from {
    background-position-x: 0%;
  }
  to {
    background-position-x: -1500%;
  }
}
@keyframes btnBanners-on {
  from {
    background-position-x: 0%;
  }
  to {
    background-position-x: -1500%;
  }
}

.btnBanners-out {
  -webkit-animation-name: btnBanners-after;
  -webkit-animation-duration: 600ms;
  -webkit-animation-timing-function: steps(15, end);
  -webkit-animation-fill-mode: forwards;
  animation-name: btnBanners-after;
  animation-duration: 600ms;
  animation-timing-function: steps(15, end);
  animation-fill-mode: forwards;
}

@-webkit-keyframes btnBanners-after {
  from {
    background-position-x: -1500%;
  }
  to {
    background-position-x: -3000%;
  }
}
@keyframes btnBanners-after {
  from {
    background-position-x: -1500%;
  }
  to {
    background-position-x: -3000%;
  }
}

.btnDemo-hover {
  -webkit-animation-name: btnDemo-on;
  -webkit-animation-duration: 500ms;
  -webkit-animation-timing-function: steps(11, end);
  -webkit-animation-fill-mode: forwards;
  animation-name: btnDemo-on;
  animation-duration: 500ms;
  animation-timing-function: steps(11, end);
  animation-fill-mode: forwards;
}

@-webkit-keyframes btnDemo-on {
  from {
    background-position-x: 0%;
  }
  to {
    background-position-x: -1100%;
  }
}
@keyframes btnDemo-on {
  from {
    background-position-x: 0%;
  }
  to {
    background-position-x: -1100%;
  }
}

.btnDemo-out {
  -webkit-animation-name: btnDemo-after;
  -webkit-animation-duration: 500ms;
  -webkit-animation-timing-function: steps(8, end);
  -webkit-animation-fill-mode: forwards;
  animation-name: btnDemo-after;
  animation-duration: 500ms;
  animation-timing-function: steps(8, end);
  animation-fill-mode: forwards;
}

@-webkit-keyframes btnDemo-after {
  from {
    background-position-x: -1100%;
  }
  to {
    background-position-x: -1900%;
  }
}
@keyframes btnDemo-after {
  from {
    background-position-x: -1100%;
  }
  to {
    background-position-x: -1900%;
  }
}

.btnContact-hover {
  -webkit-animation-name: btnContact-on;
  -webkit-animation-duration: 500ms;
  -webkit-animation-timing-function: steps(10, end);
  -webkit-animation-fill-mode: forwards;
  animation-name: btnContact-on;
  animation-duration: 500ms;
  animation-timing-function: steps(10, end);
  animation-fill-mode: forwards;
}

@-webkit-keyframes btnContact-on {
  from {
    background-position-x: 0%;
  }
  to {
    background-position-x: -1000%;
  }
}
@keyframes btnContact-on {
  from {
    background-position-x: 0%;
  }
  to {
    background-position-x: -1000%;
  }
}

.btnContact-out {
  -webkit-animation-name: btnContact-after;
  -webkit-animation-duration: 500ms;
  -webkit-animation-timing-function: steps(10, end);
  -webkit-animation-fill-mode: forwards;
  animation-name: btnContact-after;
  animation-duration: 500ms;
  animation-timing-function: steps(10, end);
  animation-fill-mode: forwards;
}

@-webkit-keyframes btnContact-after {
  from {
    background-position-x: -1000%;
  }
  to {
    background-position-x: -2000%;
  }
}
@keyframes btnContact-after {
  from {
    background-position-x: -1000%;
  }
  to {
    background-position-x: -2000%;
  }
}