.projects-page {
  position: relative;
  width: 60%;
  overflow: hidden;
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.projects-list > div {
  flex: 0 0 30%;
  text-align: center;
  background-color: $site-brown;
  border: 1em solid $site-brown;
  border-radius: 1em;
  margin-bottom: 2em;
  cursor: pointer;
  transition: all 500ms ease;
}

.projects-list > div:hover {
  background-color: $site-yellow;
  border: 1em solid $site-yellow;
  border-radius: 1em;
  color: $site-black;
}

.projects-list > div > h3 {
  margin-top: 0.5vw;
}

.projects-list > div:last-child {
  visibility: hidden;
  cursor: auto;
}

.projects-list > div > img {
  width: 100%;
  border: 0.5em solid $site-brown-exdrk;
}

.projects-single {
  position: fixed;
  left: 100%;
  top: 0px;
  background-color: $site-black-rgba;
  border: 1em solid $site-black-rgba;
  border-radius: 1em;
  width: 100%;
  height: 100%;
  transition: all 500ms ease-in-out;
}

.projects-single > div {
  width: 60%;
  margin: 6vw auto;
  background-color: $site-brown;
  border: 1em solid $site-brown;
  border-radius: 1em;
  padding: 1vw;
}

.projects-single > div > div:last-child {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: $site-brown-exdrk;
}

.projects-single > div > div:last-child section {
  flex: 0 0 50%;
  padding: 1vw 1vw 4vw 1vw;
}

.projects-single-reveal {
  left: 0px;
}

.projects-single .closeBtn {
  text-align: right;
}

.projects-single .closeBtn > button {
  width: 2vw;
  height: 2vw;
  font-size: 1vw;
}

.projects-single h2 {
  text-align: center;
  background-color: $site-brown-exdrk;
  border: 0.5em solid $site-brown-exdrk;
  border-radius: 0.5em 0.5em 0 0;
  margin: 0.5vw 0 0 0;
}

.projects-single .single-detail {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.projects-single .single-img img {
  width: 100%;
}

.projects-single .buttons {
  margin-top: 2em;
  display: flex;
  justify-content: space-around;
}

.projects-single .buttons button {
  flex: 0 0 30%;
  font-size: 1.2vw;
  border-radius: 0.6em;
  padding: 0.5vw;
  background-color: $site-yellow;
  border: 0.5em solid $site-yellow;
}

.projects-single .buttons button:hover {
  color: $site-black;
  background-color: $site-yellow-lgt;
  border: 0.5em solid $site-yellow-lgt;
}


@media (max-width: 1200px) {
  .projects-page {
    width: 80%;
  }
  .projects-list > div > h3 {
    font-size: 2vw;
    margin-top: 1vw;
  }
  .projects-single > div {
    width: 65%;
    margin: 9vw auto;
  }
  .projects-single h2 {
    font-size: 2vw;
  }
}

@media (max-width: 768px) {
  .projects-list > div {
    flex: 0 0 40%;
    margin-top: 1vw;
  }
  .projects-list > div > h3 {
    font-size: 3vw;
  }
  .projects-single > div {
    width: 90%;
    margin: 12vw auto;
  }
  .projects-single > div > div:last-child section {
    flex: 0 0 100%;
    padding: 1vw 2vw 3vw 2vw;
  }
  .projects-single h2 {
    font-size: 4vw;
  }
  .projects-single .closeBtn > button {
    width: 4vw;
    height: 4vw;
    font-size: 2vw;
  }
  .projects-single .buttons button {
    flex: 0 0 40%;
    font-size: 2.8vw;
  }
}


@media (max-width: 500px) {
  .projects-list > div {
    flex: 0 0 80%;
    margin-top: 2.5vw;
  }
}