@import 'projects-single.scss';

.projects-page {
  position: relative;
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 60%;
  margin: 4em auto;
}

.projects-list > div {
  flex: 0 0 30%;
  text-align: center;
  background-color: $site-brown-drk;
  border: 1em solid $site-brown-drk;
  border-radius: 1em;
  margin-bottom: 1.5em;
  cursor: pointer;
}

.projects-list > div:last-child {
  visibility: hidden;
  cursor: auto;
}

.projects-list > div > img {
  width: 100%;
}

